{
    "env": {
        "browser": true
    },
    "globals": {
        $:          false,
        _:          false,
        hopscotch   false,
        event:      false,
        i:          true,
        Marks:      true,
        Backbone:   true,
        Games:      true,
        Board:      true,
        NavBar:     true,
        Config:     true
    },
    "rules": {
        strict: 0
    }
}

